body {
	background-color:#ffffff !important;
	height: 100%;
	margin-bottom: 60px;
	margin-top: 20px;
	width: 100%;
}

.container-full {
	width:100%;
	padding-left:20px;
	padding-right:20px;
	margin:0 auto;
	max-width:2500px
}

.navbar-default {
	background-color: #f2f2f2 !important; 
} 
.navbar-default .navbar-nav>li>a {
	/*color: #fdfdfd  !important; */
}


.panel-body, .panel-heading{
	background-color: #eeeeee !important; 	
} 
.panel, .panel-default {
	border-radius:0px !important;
}

.campaign-choose-template-status {
	display:none;
} 

/*Home page */
.container .col-md-8 { 
  height: auto;
}  
.container .col-md-4 { 
  height: auto;
}  
.container .col-md-2 { 
  height: 200px;
}  
.panel-heading {
  background-color: white !important; 
} 
.left-side-container {
 
} 
.right-side-container {
 border-right: 3px solid #f2f2f2;
 height:auto !important;
}

.left-side-container-opposite {
	padding-top:30px;
} 
.right-side-container-opposite {
	/*padding-top:40px !important;*/
  	border-left: 3px solid #f2f2f2;
 	height:auto !important; 
}
 

.main-row-container {
	height: 100% !important; 
}

.navbar {
	padding:0px;
}

.container {
  flex-flow: column;
  height: 100%;
}



.container {
  flex: 1 1 auto;
}
 
#app {
	/*height: 100% !important; */
}

.panel-body {
	background-color: #ffffff !important; 
}

p, span, h1,h2,h3,h4,h5,h6,div, button, input, textarea{
	font-family: 'PT Sans', sans-serif !important;
}

.panel-body-home {
	height: 350px !important; 
}

.material-icons { 
    float: left;
    padding-right: 11px; 
}

.panel-body-home .panel-heading {
	height: 50px;
}
.panel-body-home .btn-default,
.panel-body-home .btn-group  {
	float:right;
	margin-top:   -2px;
}

.contact-sorting-ul {
	border-bottom: none;
}

.contact-menu-setting {
	background-color: #f2f2f2;
	margin-left: -2px !important;
	margin-right: -2px !important;
}

.contact-search {
	padding:5px !important;
	height:30px !important;
	margin-top:5px;
}

.contact-table{
	text-align: center;
}

.hide { 
	display:none !important;
  }

.form-control {
	/*padding:15px !important;*/
	height: 35px !important;
}

.col-md-12-padding {
	padding-left: 34px !important;
	padding-right: 34px !important;
}
.pull-center {
	text-align: center;
}

.form-side-bar li:hover {
	cursor: pointer;
}

.pager-container {
	display: inline;
	position: absolute;
	margin-top: 26px !important;
	margin-left: 3px;
}

.pager-select {
	margin-top: -38px !important;
	width: 100%;
	height: 29px;
	border-radius: 4px;
}

.material-icons {
	cursor: pointer;
}



.template-container {
	width: 224px;
}

.template-container-hover {
	position: absolute;
	z-index: 100;
	margin-top: 70px;
	width: 181px;
	text-align: center;
} 

.template-container-hover-bg {
	border:1px solid grey;
	background-color: #757575;
	height: 198px;
	position:absolute;
	width: 181px !important;
	border-radius: 1px;
	margin-top: 6px;
	margin-left: 6px;
	opacity: 0.9;
	color: black;
}

.template-container-main-bg {
	display:none;
}